body {
    margin: 0;
    padding: 0;
    background-color: #f7eedd;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 60px 20px;
}

.text {
    max-width: 800px;
    margin: 0 auto 30px auto;
    font-size: 20px;
    line-height: 1.6;
    color: #4a4a4a;
    text-align: center;
}

.button {
    margin-left: 700px;
    display: inline-block;
    padding: 12px 25px;
    font-size: 18px;
    background-color: #d4a373;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.button:hover {
    background-color: #b6814f;
}

.button:hover {
    background-color: #b6814f;
}