/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #18edc6; /* abu-abu muda background halaman */
    text-align: center; /* supaya semua konten di tengah */
    margin: 0;
    padding: 20px;
}

/* Link ke webpage */
a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 15px;
    background-color: #FF8C00; /* oranye */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #e67300;
}

/* Tabel */
table {
    border-collapse: collapse;
    margin: 0 auto; /* center table */
    width: 90%;
    background-color: #d3d3d3; /* abu-abu untuk background tabel */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Header tabel */
th {
    padding: 10px;
    background-color: #003366; /* biru tua */
    color: white;
    font-size: 16px;
}

/* Isi tabel */
td {
    padding: 8px;
    background-color: #f9f9f9; /* putih tulang agar kontras */
    color: #333;
    text-align: center;
    font-size: 14px;
}

/* Opsi (link update/delete) */
td a {
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    background-color: #FF8C00; /* oranye */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
}

td a:hover {
    background-color: #e67300;
}